<div class="bs-social">
  <ul class="bs-social-buttons">
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twbs&amp;repo=bootstrap&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twbs&amp;repo=bootstrap&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
    </li>
    <li class="follow-btn">
      <a href="https://twitter.com/bhoover10001" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @bhoover10001</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="bhoover10001" data-related="mdo:Creator of Twitter Bootstrap">Tweet</a>
    </li>
  </ul>
</div>
<a href="http://stackoverflow.com/users/823441/brian-hoover">
  <img src="//stackoverflow.com/users/flair/823441.png" width="208" height="58" alt="profile for Brian Hoover at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Brian Hoover at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
</a>